#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navigation {
  background: #f2f2f2;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-links {
  display: flex;
  justify-content: center;
  flex: 1;
}

.nav-link {
  text-decoration: none;
  color: #333;
  margin-right: 10px;
}

.nav-link:hover {
  color: #777;
}

.user-info {
  color: #333;
  margin-left: auto;
}
.articles-list-container {
  margin: 20px;
}

.articles-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.article-card {
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 4px;
  height: 25vh;
}
.article-card:hover {
  background-color: #ebebeb;
}

.article-topic {
  font-weight: bold;
  margin-bottom: 10px;
}

.topic-prefix {
  color: #888;
}

.article-title {
  margin-top: 0;
}

.article-info {
  font-size: 14px;
  color: #000000;
  margin-bottom: 10px;
}

.author-name {
  font-weight: bold;
}

.comment-count {
  margin-left: 10px;
}

.spinner {
  width: "100px";
  margin: "auto";
  display: "block";
}

.user-login-container {
  position: relative;
  top: 100px;
}

.single-article {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.single-article h2 {
  margin: 10px 10px;
}

.single-article p {
  margin-bottom: auto;
}

.article-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-info p.author {
  margin-bottom: 10px;
  font-weight: bold;
}

.vote-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vote-buttons p {
  margin: 10px 10px;
}

.comment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments {
  margin-bottom: 10px;
}

.add-comment-button {
  margin-top: 10px;
}
.single-article img {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}

.comment-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-card p {
  margin: 5px;
}

.comment-author,
.comments-count {
  font-weight: bold;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.comments-list {
  list-style: none;
}
.toggle-comments {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.error {
  color: #ea5665;
}
